<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" />
<!-- Start of first page: #one -->
<div data-role="page" id="utilities">
  
  <div data-role="header">
    <a href="/" data-icon="home" class="ui-btn-left">Home</a>
      <h1>[% title %]</h1>
    <a href="#settings" data-ajax="false" data-icon="gear" class="ui-btn-right">Settings</a>
  </div><!-- /header -->
  
  <div data-role="content" >      
    <p><a href="#valvefinder" data-ajax="false" data-role="button">Add Stations</a></p>
  </div><!-- /content -->
  
  <div data-role="footer" data-theme="d">
    <h4></h4>
  </div><!-- /footer -->

<!-- Valve Finder -->
<div data-role="page" id="valvefinder">

  <div id="popup_header" data-role="header" data-theme="b">
    <h1>Valve Finder</h1>
  </div><!-- /header -->
  <div data-role="content" data-theme="d">  
    <form>
      <div id="station_checkboxes" data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="vertical">
          <legend>
                 Chose a Station: 
          </legend>
          [% FOREACH station IN stations %]
          <input id="[% station.id %]" name="" type="checkbox">
          <label for="[% station.id %]">
                [% station.category %] - [% station.name %]
          </label>
          [% END %]
        </fieldset>
      </div>
      <input id="submit_remove" data-ajax="false" data-theme="d" data-icon="minus" data-iconpos="left" value="Submit" type="submit">
    <form>
  </div><!-- /content -->
  
  <div data-role="footer">
          &nbsp;
  </div><!-- /footer -->
</div><!-- /page popup -->
</div><!-- /page one -->
