<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" />
<!-- Start of first page: #one -->
<div data-role="page" id="utilities">
  
  <div data-role="header">
    <a href="/" data-icon="home" class="ui-btn-left">Home</a>
      <h1>[% title %]</h1>
    <a href="/settings" data-ajax="false" data-icon="gear" class="ui-btn-right">Settings</a>
  </div><!-- /header -->
  
  <div data-role="content" >      
    <p><a href="#valvefinder" data-role="button">Valve Finder</a></p>
  </div><!-- /content -->
  
  <div data-role="footer" data-theme="d">
    <h4></h4>
  </div><!-- /footer -->
</div><!-- /page one -->

<!-- Valve Finder -->
<div data-role="page" id="valvefinder">

  <div data-role="header">
    <a href="/" data-icon="home" class="ui-btn-left">Home</a>
    <h1>Valve Finder</h1>
    <a href="/settings" data-ajax="false" data-icon="gear" class="ui-btn-right">Settings</a>
  </div><!-- /header -->
  <div data-role="content" data-theme="d">
    <div>
    <p>I'm not sure the relays can be triggered fast enough to make this work. Going to buy a chatterbox and compare. Consider this experimental!</p>
    </div> 
    <div id="valve_finder_div" [% IF running %]class="running"[% END %]>
      <form id="valve_finder">
        <div id="station_checkboxes" data-role="fieldcontain">
          <fieldset data-role="controlgroup" data-type="vertical">
            <legend>
                   Chose a Station: 
            </legend>
            [% FOREACH station IN stations %]
            <input id="finder-[% station.id %]" name="" type="checkbox" onClick="uncheck_station('finder-[% station.id %]')">
            <label for="finder-[% station.id %]">
                  [% station.category %] - [% station.name %]
            </label>
            [% END %]
          </fieldset>
        </div>
        <input id="submit_valvefinder" data-ajax="false" data-theme="d" value="Submit" type="submit">
      </form>
    </div> <!-- /valve_finder -->
    <div id="finder_running_div" >      
      <form id="finder_running">
        <p><input id="submit_running" data-ajax="false" data-theme="d" value="Stop Valve Finder" type="submit"></p>
      </form>
    </div><!-- /finder_running -->
  </div><!-- /content -->
  
  <div data-role="footer">
          &nbsp;
  </div><!-- /footer -->
</div><!-- /valvefinder -->
