<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" />
<head>
        <title>[% title %]</title>

        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/css/stations.css" />
        <link rel="stylesheet" href="/css/jquery.mobile-1.2.0.min.css" />
        <script src="/javascripts/jquery-1.8.3.min.js" type="text/javascript" /></script>
        <script src="/javascripts/jquery.mobile-1.2.0.min.js"></script>
        <script type="text/javascript" />
        $(document).ready(function(){

                // AAACHOO!!!  Javascript, I'm alergic to you, but I'm slightly indebted to you for this:

                // timeout refresh
                $('div.error,div#error').click( function() {
                        location.reload();
                });

                // set initial states
                $('select').each(function() {
                        if($(this).hasClass('on')) {
                                console.log('#' + this.id);
                                $('#' + this.id).val('on').slider("refresh");
                        } else {
                                console.log(this.id);
                                $('#' + this.id).val('off').slider("refresh");
                        }
                }); // togglebox foreach

                // toggle actions
                $('select').change(function() {
//                        if ( active ) {
  //
                                active = 0;

                        function submit (id, attr) {
                                //$('#' + id + '-load').show();
                                $.mobile.showPageLoadingMsg(); 
                                $('#' + id).find('div.success,div.failure').stop(true,true).clearQueue();
                                $('#' + id).find('div.success,div.failure').hide();
                                console.log($(this)) 
                                
                                $.ajax({
                                        type: "POST",
                                        url: "/stations/:" + id,
                                        data: { station: id, act: attr },
                                        dataType: "json",
                                        //async: false,
                                        timeout: 500, // in milliseconds
                                        success: function(data) {
                                                // process data here

                                                var status = '';

                                                switch (data.result) {
                                                        case 'success':
                                                                status = '#' + attr;
                                                        case 'failure':
                                                                $('div.' + data.result + status).fadeIn('fast').animate({opacity:1},1000).fadeOut(1000);
                                                                break;
                                                        default:
                                                                $('div.fullscreen').show();
                                                                $('div.' + data.result).show().empty().append(data.msg);
                                                }

                                                $.mobile.hidePageLoadingMsg();
                                        },
                                        error: function(request, status, err) {
                                                if (status == "timeout") {
                                			console.log('timeout'); 
                                                        $("#lnkError").click();
                                			console.log('click');
                                                	$.mobile.hidePageLoadingMsg();
                                                }
                                        }
                                });
                        } // function submit
                        submit(this.id, this.value);
                }); // togglebox click
		$('#error_popup').live('pagehide',function(event) {
			location.reload();
		});
        }); // document.ready
        </script />
</head>
<body>
[% content %]

<!-- Start of Error dialog -->
<div data-role="page" id="error_popup">

	<div data-role="header" data-theme="b">
		<h1>Error</h1>
	</div><!-- /header -->

	<div data-role="content" data-theme="d">	
		<h2>Timeout</h2>
		<p>'REQUEST TIMED OUT<p>Refresh page or close this window to continue.'</p>		
	</div><!-- /content -->
	
	<div data-role="footer">
	</div><!-- /footer -->
</div><!-- /page popup -->
<a href="#error_popup" id='lnkError' data-rel="dialog" data-transition="pop" style='dislay:none;'></a>
</body>
</html>
