.togglebox  {  /* stylised checkboxes */
    position: fixed;
    left: 5px;
    display: block;  
/*    width: 87px;  
    height: 28px;  
    background: url('/images/check-square.png') no-repeat; */ 
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;  
    overflow: hidden;  
    cursor: pointer;
    float: left;
}  

.on { /* checkbox checked/on */
}

.off { /* checkbox unchecked/off */
}

.category { /* group categories */
        position: fixed;
        left: 50%;
        margin-left: -45px;
        font-weight: bold;
        font-size: 1.1em;
        padding: 5px;
}
.group { /* each group check box */
        position: fixed;
        left: 50%;
        margin-left: 90px;
        display: block;
        font-weight: normal;
        font-size: 1em;
        float: left;
}
.success { /* next to group name after confirmed change */
        float: left;
        display: none;
	top: 45px;
        height: 1em;
        position: relative;
        left: 5px;
        font-weight: bold;
        padding-left: 15px;
        color: #2d2;
}

.failure { /* rare occurrence */
        display: none;
        height: 1em;
        position: relative;
        left: 5px;
        font-weight: bold;
        padding-left: 15px;
        color: #f00;
        float: left;
	top: 45px;
}

.loader { /* loading gif */
        position: fixed;
        left: 50%;
        margin-left: -95px;
        height: 30px;
        width: 30px;
        background-position: 0% 100%;
        visibility:hidden;
        background: url('/images/ajax-loader.gif') no-repeat;
/*        float: left; */
}

.error { /* POST timeout modal screen */
        background-color: #fff;
        display: none;
        padding: 20px;
        z-index: 3;
        color: #f00;
        font-weight: bold;
        text-align:center;
        vertical-align: middle;
            position:absolute;
            top: 50%;
            left: 50%;
            width:30em;
            height:3em;
            margin-top: -1.5em; /*set to a negative number 1/2 of your height*/
            margin-left: -15em;

}
