<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" />
<!-- Start of first page: #one -->
<div data-role="page" id="settings">

        <div data-role="header">
		<a href="/" data-icon="home" class="ui-btn-left">Home</a>
                <h1>[% title %]</h1>
		<a href="#settings" data-ajax="false" data-icon="gear" class="ui-btn-right">Settings</a>
        </div><!-- /header -->

        <div data-role="content" >      
                <p><a href="/schedules" data-ajax="false" data-role="button">Schedules</a></p>       
                <p><a href="/categories" data-ajax="false" data-role="button">Categories</a></p>       
                <p><a href="/addstation" data-ajax="false" data-role="button">Add Stations</a></p>
                <p><a href="/removestations" data-ajax="false" data-role="button">Remove Stations</a></p>
        </div><!-- /content -->
        
        <div data-role="footer" data-theme="d">
                <h4></h4>
        </div><!-- /footer -->
</div><!-- /page one -->
