<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" />
<!-- Start of first page: #one -->
<div data-role="page" id="control">

        <div data-role="header">
		<a href="/" data-icon="home" class="ui-btn-left">Home</a>
                <h1>[% title %]</h1>
		<a href="/settings" data-ajax="false" data-icon="gear" class="ui-btn-right">Settings</a>
        </div><!-- /header -->
        <div data-role="content" >      
                <h2>[% category %]</h2><hr>
                        [% FOREACH station IN stations %]
                          [% IF station.onoff %]
                            <div class='togglebox' data-role="fieldcontain">
                                  <fieldset data-role="controlgroup">
                                      <label for="toggleswitch-[% station.id %]">[% station.name %]</label>
                                      <select class="[% station.state %]" name="[% station.id %]" id="[% station.id %]" data-theme="b" data-role="slider">
                                          <option value="LOW" [% IF station.off %]selected[% END %]>
                                              Off
                                          </option>
                                          <option value="HIGH" [% IF station.on %]selected[% END %]>
                                              On
                                          </option>
                                      </select>
                                  </fieldset>
                            </div>
                          [% END %]
                          [% IF station.slider %]
                            <div data-role="fieldcontain">
                                <fieldset data-role="controlgroup">
                                    <label for="slider-[% station.id %]">
                                        [% station.name %] 
                                    </label>
                                    <input class="[% station.state %]" name="[% station.id %]" id="[% station.id %]" value="0" min="0" max="255" data-highlight="false" type="range">
                                </fieldset>
                            </div>
                          [% END %]
                        [% END %]
        </div><!-- /content -->
        <div data-role="footer" data-theme="d">
                <h4></h4>
        </div><!-- /footer -->
</div><!-- /page one -->
