<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" />
<!-- Start of first page: #one -->
<div data-role="page" id="control">

        <div data-role="header">
		<a href="/" data-icon="home" class="ui-btn-left">Home</a>
                <h1>[% title %]</h1>
		<a href="/settings" data-ajax="false" data-icon="gear" class="ui-btn-right">Settings</a>
        </div><!-- /header -->
        <div data-role="content" >      
                <h2>[% category %]<hr>
                        [% FOREACH station IN stations %]
                        <div class='togglebox' data-role="fieldcontain">
                              <fieldset data-role="controlgroup">
                                  <label for="toggleswitch-[% station.id %]">[% station.name %]</label>
                                  <select class="[% station.state %]" name="[% station.id %]" id="[% station.id %]" data-theme="b" data-role="slider">
                                      <option value="off">
                                          Off
                                      </option>
                                      <option value="on">
                                          On
                                      </option>
                                  </select>
                              </fieldset>
                        </div>
                        [% END %]
        </div><!-- /content -->
        <div data-role="footer" data-theme="d">
                <h4></h4>
        </div><!-- /footer -->
</div><!-- /page one -->

<!-- Start of Error dialog -->
<div data-role="page" id="error_popup">

	<div data-role="header" data-theme="b">
		<h1>Error</h1>
	</div><!-- /header -->

	<div data-role="content" data-theme="d">	
		<h2>Timeout</h2>
		<p>'REQUEST TIMED OUT<p>Refresh page or close this window to continue.'</p>		
	</div><!-- /content -->
	
	<div data-role="footer">
	</div><!-- /footer -->
</div><!-- /page popup -->
<a href="#error_popup" id='lnkError' data-rel="dialog" data-transition="pop" style='dislay:none;'></a>
