<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" />
<div data-role="page" id="home">

        <div data-role="header">
		<a href="/" data-icon="home" class="ui-btn-left">Home</a>
                <h1>[% title %]</h1>
		<a href="/settings" data-ajax="false" data-icon="gear" class="ui-btn-right">Settings</a>
        </div><!-- /header -->
        <div data-role="content" >     
                <p><a href="/stations/All" data-ajax="false" data-role="button">All</a></p>
                [% FOREACH category IN categories %] 
                <p><a href="/stations/[% category.id %]" data-ajax="false" data-role="button">[% category.name %]</a></p> <!-- Change /stations:[% category.name %] -> /stationsi:[% category.id %] once db implemented. -->
                [% END %]
        </div><!-- /content -->
        <div data-role="footer" data-theme="d">
                <h4></h4>
        </div><!-- /footer -->
</div><!-- /page one -->
