<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" />
<!-- Start of second page: #two -->
<div data-role="page" id="mainsettings">

        <div data-role="header">
		<a href="/" data-icon="home" class="ui-btn-left">Home</a>
                <h1>[% title %]</h1>
		<a href="/settings" data-icon="gear" class="ui-btn-right">Settings</a>
        </div><!-- /header -->

        <div data-role="content">       
               <p>Still haven't decided what is going here yet</p> 
        </div><!-- /content -->
        
        <div data-role="footer" data-theme="d">
                <h4></h4>
        </div><!-- /footer -->
</div><!-- /page two -->


