* { /* default text style */
        color: #000; 
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
}
.body { /* to allow full screen div */
        height: 100%;
}

.fullscreen {
    display: none;

    /*set the div in the top-left corner of the screen*/
    background-color: #000;
    opacity: 0.5;
    position:absolute;
    top:0;
    left:0;
    
    /*set the width and height to 100% of the screen*/
    width:100%;
    height:100%;
    z-index: 0;
}

.togglebox  {  /* stylised checkboxes */
    display: block;  
    width: 87px;  
    height: 28px;  
    background: url('/images/check-square.png') no-repeat;  
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;  
    overflow: hidden;  
    cursor: pointer;
    float: left;
}  
.on { /* checkbox checked/on */
        background-position: 0% 100%;
}
.off { /* checkbox unchecked/off */
        background-position: 100% 0%;
}

.category { /* group categories */
        font-weight: bold;
        font-size: 1.1em;
        padding: 5px;
}
.group { /* each group check box */
        display: block;
        font-weight: normal;
        font-size: 1em;
        float: left;
}
td.indent { /* group indent */
        width: 30px;
        height: 30px;
        padding-top:12px;
}
td.togglespacer { /* toggle -> label spacing */
        width: 100px;
}

.success { /* next to group name after confirmed change */
        float: left;
        display: none;
        height: 1em;
        position: relative;
        left: 5px;
        font-weight: bold;
        padding-left: 15px;
        color: #2d2;
}

.failure { /* rare occurrence */
        display: none;
        height: 1em;
        position: relative;
        left: 5px;
        font-weight: bold;
        padding-left: 15px;
        color: #f00;
        float: left;
}

.loader { /* loading gif */
        top: 5px;
        margin-left: 20px;
        height: 30px;
        width: 30px;
        background-position: 0% 100%;
        visibility:hidden;
        background: url('/images/ajax-loader.gif') no-repeat;
        float: left;
}

.error { /* POST timeout modal screen */
        background-color: #fff;
        display: none;
        padding: 20px;
        z-index: 3;
        color: #f00;
        font-weight: bold;
        text-align:center;
        vertical-align: middle;
            position:absolute;
            top: 50%;
            left: 50%;
            width:30em;
            height:3em;
            margin-top: -1.5em; /*set to a negative number 1/2 of your height*/
            margin-left: -15em;

}
